export FACEBOOK_CLIENT_ID=""
export FACEBOOK_CLIENT_SECRET=""

export MENDELEY_CLIENT_ID=
export MENDELEY_CLIENT_SECRET=""

export REDDIT_CLIENT_ID=""
export REDDIT_CLIENT_SECRET=""

export TWITTER_CONSUMER_KEY=""
export TWITTER_CONSUMER_SECRET=""

export YOUTUBE_API_KEY=""
